$pink: #E82E7C
*
    margin: 0px
    padding: 0px

h3
    color: white
    text-shadow: 2px 4px $pink
    font-size: 4.2vw
h5
    font-family: xolonium-bold
    color: white
li
    font-family: xolonium-bold
    color: $pink
    list-style: none

.description
    font-family: Quicksand
    color: white

.broken-border
    border-top: 5px solid $pink
    border-right: 5px solid $pink
    min-height: 150px
.carousel-background
    background-color: $pink
    height: 250px