$pink: #E82E7C

@mixin border-config
    border: 5px solid $pink


.profile
    margin-top: 25vh
    //height: 2000px
    position: relative
    display: flex
    justify-content: space-between
    img
        position: relative
        z-index: 1
    img.user, .rotate
        width: 258px
        height: 308px
        margin-left: 5px
        object-fit: cover
        border-right: 5px solid $pink
        border-bottom: 5px solid $pink
    .rotate
        width: 304px
        height: 348px
        position: absolute
        top: 0
        left: -60px
        transform: rotate(224deg)
        background-color: transparent
        @include border-config
        z-index: 0
        animation: example
        animation-duration: 6s
.animation
  animation: hide-show
  animation-duration: .2s

@keyframes hide-show
  from
    opacity: 0
  to
    opacity: 1


.image-header
  width: 65%
  //background-color: yellow
  display: flex
  justify-content: flex-start
  ul
    margin-left: -6px
  ul li
    position: relative
    font-size: 20px
    display: inline
    span
      font-size: 20px
      margin: 0px 20px 0px 10px
      color: $pink

.title-tools
  margin-left: 85px
  display: flex
  flex-direction: column
  div.tools-retangule
    display: flex
    justify-content: center
    padding: 10px 5px 10px 20px
    //max-width: 100%
    margin-top: 30px
    position: relative
    border: 5px solid $pink
    //flex-flow: wrap
  .circle-box
    position: absolute
    top: -45px
    left: -25px
    padding: 10px
    background-color: black
  .tool-image
    margin: 5px
    transition: all .2s ease-in-out
    &:hover
      transform: scale(1.2)
.tool-tooltip .tooltip-inner
  border: 2px solid $pink
.title
  display: flex
  align-items: center
  padding-left: 5px
  div.h-line
    width: 6px 
    height: 53px
    margin-right: 10px
    margin-bottom: 5px
    background-color: $pink
  h3
    color: white
    text-shadow: 2px 4px $pink
    font-size: 4.2vw
  
textarea

  width: 90%
  resize: none
  color: white
  font-family: Quicksand
  padding: 3px 10px
  text-align: center
  font-size: 16px
  border: 10px solid rgba(232, 46, 124, 0.3)
  background: rgba(232, 46, 124, 0.3)

.description
  position: relative
  display: flex
  flex-direction: column
  justify-content: center
  margin-top: 50px
  width: 40%
  height: 350px
  //background-color: yellow
.social img
  margin: 5px 5px 10px 5px
.l:hover
    cursor: pointer

.lines
  display: flex
  flex-direction: column
  align-items: flex-end
  margin-top: -8px
  width: 100%
  hr 
    
    margin-right: 3.65%
    height: 5px
    background-color: $pink
  hr.first
    width: 21%
  hr.second
    width: 25%
  
.projects 
  position: relative
  margin-top: 20px
  margin-left: 2vw
  margin-right: 3.5vw
  border: 5px solid $pink
.views-circle
  //position: aboluste

img.edit-pencil
  margin-left: -38px
  &:hover
    cursor: pointer
    filter: brightness(360)

.effect
  transition: visibility 1.5s

.count-avaliacao
  background-color: black
  position: absolute
  left: 50%
  transform: translate(-50%,-60%)

.label
  top: 50%
  left: 50%
  transform: translate(-50%, -50%)
  h3
    font-family: Xolonium-bold
    font-weight: 200
    font-size: 24px
  h3.number
      margin-bottom: -5px
      font-size: 64px

    
@keyframes example 
  from
    transform: rotate(0deg)
    border: 0px solid black
    background-color: $pink
  to 
    transform: rotate(224deg)
    border: 5px solid $pink
    background-color: black

@media (max-width: 1100px)
  .tool-image
    width: 40px
    height: 40px
