<div class="effect" [hidden]="!loaded">


<app-navbar></app-navbar>
<div class="profile">
    <div class="image-header">
        <div>
            <img class="user"  [src]="user.image" alt="" (load)="hide();">
            <div class="rotate"></div>
        </div>
        
        <div class="title-tools">
            <div class="title">
               <img class="edit-pencil" tooltip="Editar perfil" [routerLink]="['/editar-perfil', user.id ]" *ngIf="isOwner()" src="/assets/edit_pencil.svg" alt="">
                <div class="h-line">

                </div>
                <h3 class="animation">
                    {{ user.nickname }}
                </h3>
            </div>
            <ul>
                <li>
                    <img class="li-circle" src="/assets/list-style.svg" style="padding-bottom:5px; margin-left: 5px;" alt="">
                    <span>{{ user.name }} {{ user.lastName }}</span>
                </li>
                <li>
                    <img class="li-circle" style="padding-bottom:5px; margin-left: 5px;"src="/assets/list-style.svg" alt="">
                    <span>{{ user.entryDate }}</span>
                </li>
            </ul>
            <div class="tools-retangule">
                <div *ngIf="user.tools.length == 0" style="color:white;width: 100%;height:100%; margin-left: 35px; margin-right: 5px; font-family: Quicksand" class="d-flex justify-content-center">Nenhuma ferramenta  selecionada</div>
                <img src="/assets/circle-box.png" class="circle-box" width="80" height="80" alt="ferramentas" srcset="">
                <img *ngFor="let tool of user.tools" class="tool-image" width="60" height="60"  [tooltip]="tool.display" [src]="tool.value" />
            </div>
        </div>
    </div>
    
    <div class="description">
        <div class="social">
            <a tooltip="Facebook" class="l"*ngIf="user.fb" (click)="openLink(user.fb)"><img src="/assets/twitter.svg" width="26" height="26" alt=""></a>
            <a tooltip="Instagram" class="l" *ngIf="user.ig" (click)="openLink(user.ig)"><img src="/assets/instagram.svg" width="26" height="26" alt=""></a>
            <a [tooltip]="user.email"><img src="/assets/email.svg" width="26" height="26" alt=""></a>
        </div>
        <textarea   name="description" id="descriptions" cols="20" rows="10"  readonly>{{ user.description?  user.description: 'Não há nada aqui...' }}</textarea>
        
    </div>
    
</div>

<div class="lines">
    <hr class="first">
    <hr class="second">  
</div>

<div   class="projects">
    <div class="count-avaliacao">
        <img  src="/assets/circle.svg" alt="Avaliações">
        <div class="label position-absolute d-flex flex-column align-items-center">
            <h3 style="color:white" class="number">{{ totalAvaliations }}</h3>
            <h3 style="color:white">Avaliações</h3>
        </div>
    </div>
    <div class="mb-3">

    </div>
    <app-project-list [list]="user.projects" [create]="isOwner()" [userDetails]="false">  
    </app-project-list>
</div>
    <div class="mb-3">

    </div>
</div>
<div style="position: relative;" [hidden]="loaded">
    <ngx-spinner
    name="teste"
    bdColor="rgba(51,51,51,0.8)"
    size="large"
    color="#fff"
    [fullScreen]="false"
    type="line-scale"
    >
    </ngx-spinner>
</div>

