<nav class="navbar fixed-top">
        <!-- <img class="lobo" src="/assets/logo.svg" alt="" srcset=""> -->
        <div [routerLink]="['/']" class="logo">
            <img class="logo"  src="/assets/logo.svg"  width="65" height="65" alt="" srcset="">

        </div>
   
    <ul *ngIf="!isLoggedIn() else logged">
        
        <li [routerLink]="['/inscreva-se']">
            <button class="cadastro"> CADASTRE-SE</button> 
        </li>
        <li [routerLink]="['/login']">
            <button class="login">LOGIN</button>
        </li>
    </ul>
    <ng-template #logged>
        <ul class="logged">
            <li>
                <img [routerLink]="['/']" src="/assets/home.png" alt="home">
            </li>
            <li>
                <img  src="/assets/more.png" alt="mais">
            </li>
            <li >
                <img (click)="goToProfile()" class="avatar" [src]="userPicture" onerror="this.src='/assets/profile.png'" alt="sua foto">
            </li>
        </ul>
    </ng-template>
</nav>