<nav class="navbar fixed-top">
    <a [routerLink]="['/']"><img src="/assets/logo.png" alt="" srcset=""></a>
    <ul *ngIf="!isLoggedIn() else logged">
        
        <li [routerLink]="['/inscreva-se']">
            <button class="cadastro"> CADASTRE-SE</button> 
        </li>
        <li [routerLink]="['/login']">
            <button class="login">LOGIN</button>
        </li>
    </ul>
    <ng-template #logged>
        <ul class="logged">
            <li>
                <img (click)="logout()" src="/assets/home.png" alt="home">
            </li>
            <li>
                <img src="/assets/more.png" alt="mais">
            </li>
            <li >
                <img (click)="goToProfile()" class="avatar" [src]="userPicture" onerror="this.src='/assets/profile.png'" alt="sua foto">
            </li>
        </ul>
    </ng-template>
</nav>