<nav class="navbar fixed-top">
    <div class="w-100">
        <img  [routerLink]="['/']" class="position-absolute horizontal" src="/assets/logo_horizontal.svg" width="380"  height="260" alt="">
    <ul class="mb-1" *ngIf="!isLoggedIn() else logged">
        
        <li [routerLink]="['/inscreva-se']">
            <button class="cadastro"> CADASTRE-SE</button> 
        </li>
        <li [routerLink]="['/login']">
            <button class="login">LOGIN</button>
        </li>
    </ul>
    <ng-template #logged>
        <ul class="logged">
            <li>
                <img tooltip="Home" [routerLink]="['/']" src="/assets/home.png" alt="home">
            </li>
            <li>
                <img tooltip="Novo projeto" [routerLink]="['/novo-projeto']" src="/assets/more.png" alt="mais">
            </li>
            <li >
                <img tooltip="Perfil" (click)="goToProfile()" class="avatar" [src]="userPicture" onerror="this.src='/assets/profile.png'" alt="sua foto">
            </li>
        </ul>
    </ng-template>
    </div> 
    
</nav>