$pink: #E82E7C
$light-pink: #EDDCE3

div.form
    z-index: 100
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $pink
   

nav
    box-sizing: border-box
    background-color: black
    height: 16vh
    padding: 20px
    display: flex
    justify-content: space-between
    border-bottom: 5px solid $pink
    align-items: center

    img
        width: 38px
        height: 38px
        padding: 5px
        border-radius: 40px
        border: 2px solid $pink
    ul.logged img
        padding: 0px
        width: 25px
        height: 25px
        border-radius: 0px
        border: none
    .avatar
        object-fit: cover
        padding: 0px ! important
        width:40px !important
        height: 40px !important
        border-radius: 50% !important
        border: 2px solid $pink !important

    ul
        display: flex
        list-style: none
        justify-content: space-between
        align-items: center
        li
            cursor: pointer
            margin: 0px 10px
        button
            width: 110px
            height: 30px
            cursor: pointer
            font-family: Quicksand
            font-style: normal
            font-weight: bold
            font-size: 12px
            line-height: 15px
        .cadastro
            color: $pink
            background-color: black
            border: 2px solid $pink
        .login
            border: none
            background: #ffffff
            
.cadastro
    justify-content: flex-start !important
    width: 458px
    height: 685px 
    img
        width: 100%
        cursor: pointer

    input
        font-family: Quicksand
        font-style: normal
        font-weight: normal
        background-color: $light-pink
        box-sizing: border-box
        margin-bottom: 30px
        margin: 10px 0px
        padding: 10px
        border: none
        width: 390px
        height:38px
    .button-group
        margin-top:20px
        display: flex
        flex-direction: column
        justify-content: space-between
    .continuar 
        height:50px
        padding: 0px 
        font-family: Quicksand
        font-style: normal
        font-weight: bold
        font-size: 24px
        text-align: center
        margin-top: 20px
        background-color: black
        color: $pink

            
.login 
    width: 468px
    height: 468px

    input
        font-family: Quicksand
        font-style: normal
        font-weight: normal
        background-color: $light-pink
        box-sizing: border-box
        margin-bottom: 30px
        padding: 10px
        border: none
        width: 390px
        height:50px
    .entrar
        font-weight: bold
        background-color: black
        font-size:24px
        color: $pink
    .esqueceu
        background-color: white
        font-size: 18px
        line-height: 22px
    .cadastra
        background-color: white
        width: 229px

        

/*

             input
        background-color: $light-pink
        border: none
        padding: 10px 10px
        width: 250px
        margin: 10px
    .entrar, .esqueceu
        font-family: Quicksand
        font-style: normal
        font-weight: bold
        font-size: 24px
        border: none
        background-color: black
        color: $pink
    .esqueceu
        font-weight: normal
        color: black
        background-color: white
        font-size: 18px */