<div class="log">
    <app-custom-background title="LOGIN">
        <div id="loginForm" class="form login" [formGroup]="loginForm">     
            <input type="text" name="login" id="login" placeholder="Email" formControlName="email" />
            <input type="password" name="password" id="password"  placeholder="Senha" formControlName="password"/>
            <input class="entrar" type="button" value="ENTRAR" (click)="onLogin()">
            <input class="esqueceu" type="button" value="Esqueceu sua Senha?">
            <input class="cadastra" type="button" value="Cadastre-se">
        </div> 
    </app-custom-background>
</div>
