$border-spacing: 25px
$border-shape: 3px solid pink
$pink: #E82E7C
$light-pink: #EDDCE3

app-modal
    max-height: 100vh
    overflow: auto
div.form
    z-index: 1000
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $pink

.cadastro
    width: 400px
    height: 540px
    justify-content: flex-start !important
    img
        width: 100%
        cursor: pointer

    input
        font-family: Quicksand
        font-style: normal
        font-weight: normal
        background-color: $light-pink
        box-sizing: border-box
        margin-bottom: 5px
        margin: 5px 10px
        padding: 5px 10px
        border: none
    .button-group
        width: 90%
        margin-top:20px
        display: flex
        flex-direction: column
        justify-content: space-between
    .continuar 
        height: 45px
        width: 86%
        padding: 0px 
        font-family: Quicksand
        font-style: normal
        font-weight: bold
        font-size: 24px
        text-align: center
        margin-top: 20px
        background-color: black
        color: $pink