$border-spacing: 25px
$border-shape: 3px solid pink
$pink: #E82E7C
$light-pink: #EDDCE3
.sub
    display: flex
    justify-content: center
    background: black
    padding: 60px

div.form
    position: relative
    z-index: 1000
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $pink

.cadastro
    width: 458px
    //height: 685px
    justify-content: flex-start !important
    img
        width: 100%
        height:180px
        cursor: pointer
    input
        font-family: Quicksand
        font-style: normal
        font-weight: normal
        background-color: $light-pink
        box-sizing: border-box
        margin-bottom: 5px
        margin: 8px 10px
        padding: 5px 10px
        border: none
    .button-group
        width: 90%
        margin-top:20px
        display: flex
        flex-direction: column
        justify-content: space-between
    .continuar 
        height: 50px
        width: 86%
        padding: 0px 
        font-family: Quicksand
        font-style: normal
        font-weight: bold
        font-size: 24px
        text-align: center
        margin-top: 20px
        background-color: black
        color: $pink
        &:disabled
            background-color: grey