/* You can add global styles to this file, and also import other style files */
$pink: #E82E7C
$light-pink: #EDDCE3
*
    padding: 0px
    margin: 0px

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap')

@font-face
    font-family:"xolonium-bold"
    src: url("https://xicoportfolio.s3.us-east-2.amazonaws.com/fontes/Xolonium-Bold.woff") format("opentype"), url("https://xicoportfolio.s3.us-east-2.amazonaws.com/fontes/Xolonium-Bold.woff") format("truetype")

body
    background-color: black !important

h3,h2,h1, span
    font-family: xolonium-bold
    font-weight: bold


/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap'

/* in-flight clone */
.gu-mirror 
  position: fixed !important
  margin: 0 !important
  z-index: 9999 !important
  opacity: 0.8
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)"
  filter: alpha(opacity=80)
  pointer-events: none

/* high-performance display:none; helper */
.gu-hide 
  left: -9999px !important

/* added to mirrorContainer (default = body) while dragging */
.gu-unselectable 
  -webkit-user-select: none !important
  -moz-user-select: none !important
  -ms-user-select: none !important
  user-select: none !important

/* added to the source element while its mirror is dragged */
.gu-transit 
  opacity: 0.2
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)"
  filter: alpha(opacity=20)



ol.carousel-indicators
    bottom: -120px !important

.carousel-indicators li
  width: 13px
  height: 30px
  margin: 5px
  background-color: $pink

.carousel-indicators .active 
  background-color: white
  position: relative
  top: -5px
  opacity: 1
    

