/* You can add global styles to this file, and also import other style files */

*
    padding: 0px
    margin: 0px

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap')

@font-face
    font-family:"xolonium-bold"
    src: url("https://dafonttop.com/wp-data/x/827/4827/file/Xolonium-Bold.ttf") format("woff"), url("https://dafonttop.com/wp-data/x/827/4827/file/Xolonium-Bold.ttf") format("opentype"), url("https://dafonttop.com/wp-data/x/827/4827/file/Xolonium-Bold.ttf") format("truetype")


.show 
    display: block
// this makes the element hidden/invisible
.hidden 
    display: none