<div class="wraper">
    <app-custom-background [title]="title">

        <div class="projeto row justify-content-center">
            <div class="col-5 files mt-3 mb-3">
                <div class="row pt-2 pb-2 mt-2 mr-2">
                    <input type="file" name="images" id="images" (change)="loadImages($event)" accept="image/*" multiple
                        hidden />
                    <div class="col-4 mb-2">
                        <div class="card new-project d-flex justify-content-center" (click)="getImages()">
                            <img  src="/assets/load_images.svg" alt="">
                        </div>
                    </div>
                    <div 
                        class="col-4 position-relative"
                        *ngFor="let image of projetoForm.get('files').value; index as i">
                        <div class="card mb-2">
                            <img class="card-img-top" [src]="image" alt="">
                            <div  class="position-absolute overlay w-100 h-100">
                            </div>
                            <img  (click)="removeFromForm(i)" class="position-absolute close" style="top:50%; left: 50%; transform: translate(-50%,-50%); opacity: 1;" src="/assets/close.png" alt="">
                        </div>
                        
                    </div>
                    <div 
                        class="col-4 position-relative"
                        *ngFor="let image of imageList; index as i">
                        <div class="card mb-2">
                            <img class="card-img-top" [src]="image.src" alt="">
                            <div  class="position-absolute overlay w-100 h-100">
                            </div>
                            <img  (click)="removeImage(i)" class="position-absolute close" style="top:50%; left: 50%; transform: translate(-50%,-50%); opacity: 1;" src="/assets/close.png" alt="">
                        </div>
                        
                    </div>
                    
                </div>
            </div>

            <div class="fields col-6 pt-2 mt-1  ml-4" [formGroup]="projetoForm">

                <div class="form-row">
                    <input class="form-control" type="text" name="titulo" id="titulo" placeholder="Titulo"
                        formControlName="title" maxlength="12"/>
                </div>

                <div class="form-row">
                    <textarea class="form-control" style="resize: none;" name="description" id="description" cols="30"
                        rows="10" maxlength="200" placeholder="Descrição" formControlName="description"></textarea>
                </div>

                <!-- <div class="form-row">
                    <input class="form-control" type="text" name="tags" id="tags" placeholder="Tags"
                        formControlName="tags" />
                </div> -->

                <div class="form-row">
                    <tag-input  
                        class="ml-1 mr-1"
                        type="text" name="tags" 
                        id="tags"
                        [onAdding]="onAdding" 
                        secondaryPlaceholder="Tags"
                        placeholder="Tags"
                        formControlName="tags"
                        [modelAsStrings]="true"
                        [addOnBlur]="true"
                        [separatorKeyCodes]="[32]"
                        [trimTags]="false"
                        [ripple]="false"
                        [maxItems]="5" 
                    >
                    </tag-input>
                        
                </div>

                <div class="form-row">
                    <tag-input  
                        class="ml-1 mr-1"
                        type="text" name="tags" 
                        id="tags" 
                        secondaryPlaceholder="Ferramentas"
                        placeholder="ferramenta"
                        formControlName="tools"
                        [identifyBy]="'value'" 
                        [displayBy]="'display'"
                        minimumTextLength="2"
                        [separatorKeyCodes]="[32]"
                        [maxItems]="5"
                        [onlyFromAutocomplete]="true"
                    >
                        <tag-input-dropdown 
                            [showDropdownIfEmpty]="true"
                            [keepOpen]="false"
                            [autocompleteItems]="toolsOptions">
                            <ng-template let-item="item" let-index="index">
                                <div class="hvr" style="width: 100%">
                                    {{ item.display }}
                                </div>
                                
                            </ng-template>
                        </tag-input-dropdown>
                    </tag-input>

                </div>

                <div class="form-row last mt-5 d-flex" [ngClass]="editing? 'justify-content-between': 'justify-content-end'">
                    <input *ngIf="editing" class="btn cadastra" type="button" value="EXCLUIR" (click)="openModal(template)">
                    <!-- Apenas para ocupar espaço do layout -->
                    <input class="btn cadastra" type="button" [value]="editing? 'SALVAR': 'PUBLICAR'" (click)="editing? updateProject() : createProject()">
                </div>
            </div>
        </div>
    </app-custom-background>
</div>


<ng-template #template>
    <div>
      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p style="text-align: center; margin-bottom: 30px;">Tem certeza que deseja deletar esse projeto?<p>
        <div class="d-flex justify-content-around">
            <input type="hidden" id="show-success" (click)="openModal(success)">
            <button class="btn deletar yes" (click)="deleteProject();">SIM</button>
            <button class="btn salvar no" (click)="modalRef.hide()">NÃO</button>
        </div>
    </div>
</ng-template>

<ng-template #success>
    <div bsModal #modal="bs-modal" (onShow)="handler('onShow', $event)" class="modal-body d-flex justify-content-center align-items-center" style="height: 150px">
        <p style="color:white"> Projeto Deletado!</p>
    </div>
</ng-template>